
body{
  font-family: 'Roboto', sans-serif;
  background-color: #90ee90;
  -webkit-background-size: 100%;
}

h2{
  color: #90ee90;
}
.container{
  width: 800px;
  min-height: 800px;
  background-color: white;
  border: 20px solid white;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.underline{
  text-decoration: underline;
  padding: 0px 0;
}


.category-list * {transition: .4s linear;}
.category-list {
  background: white;
  list-style-type: circle;
  list-style-position: inside;
  padding: 0 10px;
  margin: 0;
}
.category-list li {
  font-family: 'Roboto', sans-serif;
  padding: 5px 0;
}
.category-list li span {
  float: right;
  display: inline-block;
  border: 1px solid #efefef;
  padding: 0 5px;
  font-size: 13px;
  color: #999;
}
